<html>
<head>
<title>California Tour Guide</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Atma' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Barrio' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Bilbo' rel='stylesheet'>



</head>
<body>

    <div id="root"></div>

    <script src="/bundle.js" charset="utf-8"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD02mCxf9rBnm9QAlmh6BX_M2kJ5osa6Ro&callback=initMap">
    </script>

</body>
</html>
